p {
    margin: 0px;
}

.container {
    margin: 0px auto;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: rgb(67, 51, 51);
    margin: 0;
    padding: 0;
  }

header {
    background-color: #F0D6A8;
    /* padding: 20px 50px; */
    display: flex;
    height: 100px;
    justify-content: center;
  }

  .blog-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(67, 51, 51);
  }

  main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    align-items: center;
    margin-top: 20px;
  }
  
  aside {
    /* background-color: #a8f0d3; */
    border-right: solid #13a1708b 2px;
    width: 200px;
    height: 95%;
    text-align: left;
    padding: 20px;
  }

  a{
    position: relative;
    display: inline-block;
    transition: .2s;
    text-decoration: none;
  }
  
  a:link {
    color: #5a9ada;
   }
   
   a:visited {
    color: rgb(114, 84, 84);
   }

  a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color:#13a1708b;
    transition: .2s;
    transform: translateX(-50%);
  }
  
  a:hover::after{
    width: 100%;
  }
  
  aside a {
    margin: 8px 0px;
  }

  .content {
    width: 70%;
    padding: 20px;
    height: 95%;
  }

  .content h3 {
    margin: 16px 0px;
  }

  .post {
    margin: 5px;
}

  footer {
    margin-top: 20px;
    height: 50px;
    background-color: #13a1708b; 
  }